body{
    font-style: serif;
    background-color: grey;
}
header{
    width: 100%;
    height: 80px;
    background-color: gold;
    position: fixed;
    margin: -10px;
    padding-right: 10px;
    z-index: 2;
    top: 0px;
}

h1{
    position: absolute;
    top: 0px;
    z-index: 5;
    left: 550px;
}
@media screen and (max-width:500px){
    h1{
        left: 130px;
    }
}
.nav{
    float: right;
    position: relative;
    top: 30px;
}
.nav a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 18px;
    margin-right: 5px;
}
.nav a i{
    padding: 5px;
}
.nav a:hover{
    text-decoration: underline;
    font-size: 18px;
    color: grey;
    transition: 0.4s;
    padding: 10px;
} 
@media screen and (min-width:1000px){
    .icon{
        display: none;
    }
} 
@media screen and (max-width:500px){
    .nav a{
        display: none;
    }
    .nav a.icon{
        display: block;
        margin-top: -10px;
    }
} 
@media screen and (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
      
      
    }
    .nav.responsive a {
      float: none;
      display: inline-block;
      text-align: left;
      position: relative;
      top:40px;
    }
    .nav.responsive a:hover{
        transition: 0.8s;
    }
    header{
        height: 120px;
    }
  } 
  #center{
      margin:0px auto;
      position: absolute;
      top: 90px;
      background-color: grey;
      color:rgb(49, 41, 13);
      width: 100%;
      height: 500px;
      display: grid;
      grid-template: repeat(2,1fr) / repeat(3,1fr);
      grid-gap: 20px 30px;
      align-items: center;
      justify-items: center;
      text-align: center;
  }

  @media screen and (max-width: 500px){
      #center{
          top: 130px;
          grid-template: repeat(3,1fr) / repeat(2,1fr);
      }
  }
  #center i{
      font-size: 30px;
  }
  #center a{
      text-decoration: none;
      box-sizing: border-box;
      background-color: rgb(81, 197, 65);
      color: black;
      padding: 5px;
      border: 2px solid black;
      border-radius: 5px;
      opacity: 0.5;
  }
  #center a:hover{
      opacity: 1;
  }
  .one:hover{
      color: black;
      cursor: pointer;
  }
  .two:hover{
    color: black;
    cursor: pointer;
}
.three:hover{
    color: black;
    cursor: pointer;
}
.four:hover{
    color: black;
    cursor: pointer;
}
.five:hover{
    color: black;
    cursor: pointer;
}
.six:hover{
    color: black;
    cursor: pointer;
}
footer{
    background-color: gold;
    position: relative;
    top:580px;
    margin-left: -10px;
    padding-right: 30px;
    width: 100%;
    height: 40px;
}
footer h4{
    float: left;
    margin: 13px;
}
footer a i{
    float: right;
    margin: 13px;
    color: black;
    font-size: 20px;
}
footer h5{
    float: right;
    margin: 13px;
}
footer a i:hover{
    color: grey;
    transition: 120ms;
}
@media screen and (max-width:500px){
    footer{
        top: 800px;
    }
}
